* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(146, 187, 222);
    min-height: 100vh;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    background-color: aliceblue;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 20px;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
}

.file-upload {
    background-color: aliceblue;
    padding: 30px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 15px;
}

.file-upload p {
    margin: 10px;
}
.file-upload h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.upload-button {
    border-radius: 10px;
    padding: 15px 30px;
    background-color: rgb(76, 142, 200);
    color: aliceblue;
    font-size: 1.1rem;
    margin: 10px;
}

#fileInput {
    display: None;
}

.stats-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.stats-card {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.stat-icon {
    font-size: 3.0rem;
    margin-bottom: 20px;
}

.stat-value {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.stat-label {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 10px;
}

.charts-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
}

.chart-container {
    background-color: aliceblue;
    border-radius: 15px;
    text-align: center;
    height: 300px;
}

.chart-title {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chart-container canvas {
    max-height: 220px !important;
}

.data-table {
    background-color: aliceblue;
    border-radius: 15px;
    margin-bottom: 40px;
    overflow: hidden; 
    padding: 10px;
}

.table-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #9291914b;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2rem;
    }
    
    .charts-grid {
        grid-template-columns: 1fr;
    }
    
    .stat-card {
        padding: 20px;
    }
}

